<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	default-autowire="byName" default-lazy-init="true">
	<bean id="normaluserDao" class="dao.impl.NormaluserDaoImpl"></bean>
	<bean id="schooluserDao" class="dao.impl.SchooluserDaoImpl"></bean>
	<bean id="teamDao" class="dao.impl.TeamDaoImpl"></bean>
	<bean id="worksDao" class="dao.impl.WorksDaoImpl"></bean>
	<bean id="adminDao" class="dao.impl.AdminuserDaoImpl"></bean>
	<bean id="schoolDao" class="dao.impl.SchoolDaoImpl"></bean>
	<bean id="teaminfoDao" class="dao.impl.TeaminfoDaoImpl"></bean>
	<bean id="newsDao" class="dao.impl.NewsDaoImpl"></bean>
</beans>